<%
	highlight_current_mailbox ||= true
%>

<ul id="mailboxes" class="">
	<li <%= @from_inbox == true ? 'id="inbox"': '' %> >
		<a href="<%= inbox_user_messages_path(current_user) %>">Inbox <%= num_unread_messages %></a>
	</li>
	<li <%= @from_inbox == false ? 'id="outbox"': '' %>>
		<a href="<%= outbox_user_messages_path(current_user) %>">Sent</a>
	</li>
	<div class="clearfix"></div>
</ul>