<div class="yui-g"> 
	<div class="profileWrapper standalone">
		<div class="profile">
			<div class="img">
				<a href="#"><img class="articleImage" width="110" height="90" alt="" src="http://l.yimg.com/ds/orion/us/trend_hunter537/1216278000/1:trend_hunter537:8f4fb143c87d30ba65587aae253b2a3a/megan_fox.jpg"></a>
				<a class="more" href="#">More Photos</a>
			</div>

			<div class="summary">
				<div class="info">
					<span class="name"><%= @user.login %>,</span>
					<span class="age">&nbsp;<%= @user.age %></span> 
				</div>
				<div class="lastLogin">
					<span class="onlineNow">Online Now</span>
				</div>
				
				<ul class="facts">
					<li>Best feature is <%= @user.gender == "Male" ? "his" : "her"%> <%= h @user.profile.best_feature.downcase %></li>
					<li>
						Loves when <%= h @user.profile.loves_when %>
					</li>
					<li>
						Hates when <%= h @user.profile.hates_when %>
					</li>
				</ul>
			</div>

			<div class="moreInfo">
				<div class="info">
					<h3>
						Turn Ons:
					</h3>
					<p><%= h @user.profile.turn_ons %></p>
				</div>
				<div class="info">
					<h3>
						Turn Offs:
					</h3>
					<p><%= h @user.profile.turn_offs %></p>
				</div>
				<div class="info">
					<h3>
						Msg Me If:
					</h3>
					<p><%= h @user.profile.msg_me_if %></p>
				</div>
			</div>
		</div>
	</div>
</div>