<div class="yui-g">
	<div class="yui-u first">
		<div id="register">
			<h2>Member Login</h2>
			<p>Login to access your account</p>
			<% form_tag session_path, :class => "standardForm" do %>
				<div class="formRow">
					<%= label_tag 'login', 'Username' %>
					<%= text_field_tag 'login', @login %></p>
				</div>
				<div class="formRow">
					<%= label_tag 'password' %>
					<%= password_field_tag 'password', nil %></p>
				</div>
				<div class="formRow">
					<%= submit_tag 'Login', :class => "submit" %>
					or <%= link_to 'Forgot your login info?', forgot_path %>
				</div>
			<% end %>
		</div>
	</div>
	<%= render :partial => 'sessions/whatis'%>
</div>
