<div id="filters">
	<h2>Profile Search</h2>
	<div class="filter">
		<h4 class="title">Username</h4>
		<form id="usernameForm" name="usernameForm" method="GET" action="#">
			<input type="text" name="username" id="usernameInput"/>
			<input type="submit" class="submit" value="Submit"/>
		</form>
	</div>
	<% form_tag({:action => 'filter'}, {:id => 'filtersForm'}) do %>
		<div class="filter">
			<h4 class="title">Sex</h4>
			
			<%= check_box_tag(:sex, User::VALID_GENDERS[0]) %>
			<%= label_tag(:sex, "M") %>
			
			<%= check_box_tag(:sex, User::VALID_GENDERS[1]) %>
			<%= label_tag(:sex, "F") %>
		</div>
		<div class="filter">
			<h4 class="title">Age</h4>
			<%= select_tag(:ageBegin, options_for_select(User::VALID_AGES)) %> to 
			<%= select_tag(:ageEnd, options_for_select(User::VALID_AGES)) %>
		</div>
		<div class="filter">
			<h4 class="title">Body Type</h4>		
			<% Profile::BODY_TYPES.each do |type| %>
				<%= check_box_tag(:bodyType, type) %>
				<%= label_tag(:bodyType, type) %><br/>
			<% end %>
		</div>
		<div class="filter">
			<h4 class="title">Best Feature</h4>
			<% Profile::BEST_FEATURES.each do |feature| %>
				<%= check_box_tag(:bestFeature, feature) %>
				<%= label_tag(:bestFeature, feature) %><br/>
			<% end %>
		</div>
		<div class="filter">
			<h4 class="title">Ethnicity</h4>
			<% Profile::ETHNICITIES.each do |ethnicity| %>
				<%= check_box_tag(:ethnicity, ethnicity) %>
				<%= label_tag(:ethnicity, ethnicity) %><br/>
			<% end %>
		</div>
		<div class="filter last">
			<h4 class="title">Has Pic?</h4>
				<%= radio_button_tag (:hasPic, "y") %>
				<%= label_tag(:hasPic, "Y") %>
				
				<%= radio_button_tag (:hasPic, "n") %>
				<%= label_tag(:hasPic, "N") %>
				
				<input type="submit" value="Update" class="submit" />
		</div>
	<% end %>
	<div class="clearfix"></div>
</div>