<% content_for(:stylesheets) do %>
	<%= stylesheet_link_tag 'photos/photos.css' %>
<% end %>

<% content_for(:javascripts) do %>
	<%= javascript_include_tag 'homepage/app' %>
<% end %>

<div id="yui-main">
	<div class="yui-b">
		<div class="yui-ge">
			<div class="yui-u first">
				<%= render :partial => "paginator" %>

				<div id="profileWrapper">
					<ul id="profiles"></ul>
				</div>
				
				<%= render :partial => "paginator" %>
			</div>
			<div id="ads" class="yui-u">
				ads
			</div>
		</div>
	</div>
</div>
<div class="yui-b">
	<%= render :partial => "filters" %>
</div>