<% content_for(:stylesheets) do %>
	<%= stylesheet_link_tag 'photos/photos.css' %>
<% end %>

<% content_for(:javascripts) do %>
	<script type="text/javascript">
		var AUTH_TOKEN = '<%= u form_authenticity_token -%>';
		var USER_ID = "<%= current_user.to_param -%>";
	</script>
	<%= javascript_include_tag 'photos/PhotoBrowser' %>
	<%= javascript_include_tag 'index/app' %>
<% end %>

<div id="yui-main">
	<div class="yui-b">
		<div class="yui-gf">
			<div class="yui-u first">
				<%= render :partial => "filters" %>
			</div>
			<div id="profileWrapper" class="yui-u">
				<ul id="profiles"></ul>
			</div>
		</div>
	</div>
</div>
<div id="ads" class="yui-b">
	ads
</div>