<div class="yui-g">
	<div class="yui-u first">
		<div id="register">
			<h2>Create Your Single's Account</h2>
			<p class="allFieldsRequiredMsg">All fields are required</p>
			
			<% form_for :user, :url => users_path, :html => {:class => "standardForm"} do |f| -%>
				<%= error_messages_for :user %>
				<div class="formRow">
					<%= label_tag 'login' %>
					<%= f.text_field "login" %>
				</div>
				<div class="formRow">
					<%= label_tag 'email' %>
					<%= f.text_field 'email' %>
				</div>
				<div class="formRow">
					<%= label_tag 'email_confirmation', 'Confirm' %>
					<%= f.text_field "email_confirmation" %>
				</div>
				<div class="formRow">
					<%= label_tag 'password' %>
					<%= f.password_field :password %>
				</div>
				<div class="formRow">
					<%= label_tag 'password_confirmation', 'Confirm Password' %>
					<%= f.password_field :password_confirmation %>
				</div>
				<div class="formRow">
					<%= label_tag 'gender' %>
					<%= f.radio_button :gender, 'Male' %> Male
					<%= f.radio_button :gender, 'Female' %> Female
				</div>
				<div class="formRow">
					<%= label_tag 'birthdate' %>
					<%= f.date_select 	:birthdate,
										:start_year => User::START_YEAR,
										:end_year => Time.now.year,
										:order => [:month, :day, :year], 
										:include_blank => true %>
				</div>
				<div class="formRow">
					<%= label_tag 'zipcode' %>
					<%= f.text_field 'zipcode', :size => User::ZIPCODE_LENGTH %>
				</div>
				
				<div class="formRow">
					<%= recaptcha_tags %>
				</div>
				<div class="formRow">
					<%= submit_tag 'Register', :class => 'submit' %>
				</div>
			<% end -%>
		</div>
	</div>
	<%= render :partial => 'sessions/whatis'%>
</div>