<% content_for(:stylesheets) do %>
	<%= stylesheet_link_tag 'photos/photos.css' %>
<% end %>

<% content_for(:javascripts) do %>
	<%= javascript_include_tag 'swfupload/swfupload' %>
	<%= javascript_include_tag 'photos/FileProgress' %>
	<%= javascript_include_tag 'photos/SWFUploadHandlers' %>
	<%= javascript_include_tag 'photos/PhotoBrowser' %>
	<%= javascript_include_tag 'photos/GalleryIndexView' %>
	<%= javascript_include_tag 'photos/App' %>
	<script type="text/javascript">
		UPLOAD_URL = "<%= user_photos_path(current_user) -%>?_singles_session=<%= u session.session_id -%>";
		USER_ID = "<%= current_user.to_param -%>";
		AUTH_TOKEN = '<%= u form_authenticity_token -%>';
		MAX_PHOTOS = '<%= MAX_PHOTOS %>';
	</script>
<% end %>

<div class="yui-g">
	<div class="selector">
		<h2>Your Photos</h2>
	</div>
	
	<div id="addPhotosContainer">
		<div id="fileProgressContainer"></div>
		<div id="addPhotosBtn"></div>
	</div>
	
	<div id="photoCounter"></div>
	<ul class="gallery"></ul>
</div>
