<% content_for(:javascripts) do %>
	<%= javascript_include_tag 'swfupload/swfupload' %>
	<%= javascript_include_tag 'swfupload/handlers' %>
	<script type='text/javascript'>
		var swfu;

		window.onload = function () {
		  swfu = new SWFUpload({
		    upload_url : '<%= user_photos_path(current_user) -%>?singles_session_key=<%= session.session_id %>',
		    flash_url : '/flash/swfupload_f9.swf',
		    file_size_limit : '1 MB',
		    file_types : '*.jpg',
		    file_types_description : 'JPG Images',
		    file_upload_limit : '0',
			file_queue_error_handler : fileQueueError,
			file_dialog_complete_handler : fileDialogComplete,
			upload_progress_handler : uploadProgress,
			upload_error_handler : uploadError,
			upload_success_handler : uploadSuccess,
			upload_complete_handler : uploadComplete,
		    custom_settings : { 
			  upload_target : "fileProgressContainer"
		    },
		    debug: false
		  });
		};
	</script>
<% end %>

<div class="yui-g">
	<div class="selector">
		<h2>Your Photos</h2>
	</div>

	<div id="addPhotosContainer">
		<div id="fileProgressContainer"></div>
		<input id="addPhotosBtn" type="button" onclick="swfu.selectFiles();" value="Add Photos"/>
	</div>

	<ul id="gallery">
		<%= render :partial => 'photo', :collection => current_user.photos %>
	</ul>
</div>
