<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><%= @title || "#{APP_NAME}" %></title>
		<%= stylesheet_link_tag "reset-fonts-grids.css" %>
		<%= stylesheet_link_tag "application.css" %>
	</head>
	<body>
		<div id="doc4" class="yui-t1">
			<div id="hd">
				<div id="logo">
					<%= link_to "Singles", root_url %>
				</div>
				<div id="navigation">
					<% if logged_in? %>
					<div id="primaryNavigation">
						<div class="navigationNode">
							<a href="myprofile.html">Profile</a>
						</div>
						<div class="navigationNode">
							<a href="myphotos.html">Photos</a>
						</div>
						<div class="navigationNode">
							<a href="messages.html">Messages (322)</a>
						</div>
					</div>
					<% end %>
					<div id="auxillaryNavigation">
						<% if logged_in? %>
							<div class="navigationNode">
								<%= link_to 'Logout', session_url, :method => :delete %>
							</div>
							<div class="navigationNode">
								<a href="myaccount.html">Account</a>
							</div>
						<% else %>
							<div class="navigationNode">
								<%= link_to 'Login', new_session_path %>
							</div>
							<div class="navigationNode">
								<%= link_to 'Register', new_user_path %>
							</div>
							<div class="navigationNode">
								<%= link_to 'Forgot Password?', forgot_path %>
							</div>
						<% end %>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="bd">
				<% if flash[:notice] || flash[:error] -%>
					<p class="notice"><%= flash[:notice] || flash[:error] %></p>
				<% end -%>
				<%= @content_for_layout %>
			</div>
			<div id="ft">
				<div class="about">
	                <a href="#">About Us</a> | 
	                <a href="#">Contact Us</a> | 
	                <a href="#">Terms of Service</a> | 
	                <a href="#">Privacy Policy</a> | 
	                <a href="#">Advertise</a> | 
	                <a href="#">Help</a>
	            </div>
	            <p class="copy">&copy; 2008 <a href="/">dellerbie</a></p>
			</div>
	</body>
</html>
