<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><%= @title || "#{APP_NAME}" %></title>
		<%= stylesheet_link_tag "application.css" %>
	</head>
	<body>
		<div id="page">
			<div id="header">
				<div id="logo">
					<a class="homeLink" href="/">Home</a>
				</div>
				<div id="nav">
					<ul>
					<% if logged_in? %>
						<li>Logged in as: <%= link_to h(current_user.login.capitalize), user_path(current_user) %></li>
						<li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
						<li><%= link_to 'Log Out', logout_url %></li>
					<% else %>
						<li><%= link_to 'Log In', new_session_path %></li>
						<li><%= link_to 'Sign Up', new_user_path %></li>      
						<li><%= link_to 'Forgot Password?', forgot_password_path %></li>    
					<% end %>     
					</ul>
				</div>
			</div>

			<div id="content">
				<% if flash[:notice] -%>
					<p class="notice"><%= flash[:notice] %></p>
				<% end -%>
				<%= @content_for_layout %>
			</div>
			
			<% if ENV["RAILS_ENV"] == "development" %>
			<div id="debugConsole">
					<h3>Debug</h3>
					<a href="#" onclick="Element.toggle('params_debug_info');return false;">params</a> |
					<a href="#" onclick="Element.toggle('session_debug_info');return false;">session</a> |
					<a href="#" onclick="Element.toggle('request_debug_info');return false;">request</a>				
				
					<div id="params_debug_info" class="debugInfo" style="display: none;">
						<span class="heading">Params</span>
						<%= debug(params) %>
					</div>
				
					<div id="session_debug_info" class="debugInfo" style="display: none;">
						<span class="heading">Session</span>
						<%= debug(session) %>
					</div>
				
					<div id="request_debug_info" class="debugInfo" style="display: none;">
						<span class="heading">Request</span>
						<%= debug(request) %>
					</div>					
			</div>
			<% end %>
			
			<div id="footer">
				<div class="about">
					<%= link_to "About Us", :controller => "index" %> |
					<%= link_to "Help", :controller => "index" %>
				</div>
				<p>
					&copy; 2008 <%= link_to "dellerbie", "http://www.dellerbie.com/" %>
				</p>
			</div>
		</div>
	</body>
</html>
