<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title><%= @title || "#{APP_NAME}" %></title>
		
		<%= stylesheet_link_tag "/javascripts/ext-2.2/resources/css/ext-all.css" %>
		<%= stylesheet_link_tag "/javascripts/ext-2.2/resources/css/xtheme-gray.css" %>
		<%= stylesheet_link_tag "reset-fonts-grids.css" %>
		<%= stylesheet_link_tag "application.css" %>
		<%= yield :stylesheets %>
		
		<%= javascript_include_tag "ext-2.2/adapter/ext/ext-base.js"%>
		<%= javascript_include_tag "ext-2.2/ext-all-debug.js"%>
		<%= javascript_include_tag "application.js"%>
		<script type="text/javascript">
			var LOGGED_IN = <%= logged_in? %>;
		</script>
		<%= yield :javascripts %>
	</head>
	<body>
		<div id="doc4" class="yui-t4"> 
			<div id="hd">
				<div id="logo">
					<%= link_to "SingleCityLife", root_url %>
				</div>
				<div id="navigation">
					<% if logged_in? %>
					<div id="primaryNavigation">
						<div class="navigationNode">
							<%= link_to 'View Profile', user_profile_path(current_user) %>
						</div>
						<div class="navigationNode">
							<%= link_to 'Edit Profile', edit_user_profile_path(current_user) %>
						</div>
						<div class="navigationNode">
							<%= link_to 'Photos', user_photos_path(current_user) %>
						</div>
						<div class="navigationNode">
							<%= link_to "Messages #{num_unread_messages}", inbox_user_messages_path(current_user) %>
						</div>
					</div>
					<% end %>
					<div id="auxillaryNavigation">
						<% if logged_in? %>
							<div class="navigationNode">
								<%= link_to 'Logout', session_path, :method => :delete %>
							</div>
							<div class="navigationNode">
								<%= link_to 'Account', account_path(current_user) %>
							</div>
						<% else %>
							<div class="navigationNode">
								<%= link_to 'Login', new_session_path %>
							</div>
							<div class="navigationNode">
								<%= link_to 'Register', new_user_path %>
							</div>
							<div class="navigationNode">
								<%= link_to 'Forgot Password?', forgot_path %>
							</div>
						<% end %>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="bd">
				<% if flash[:notice] -%>
					<p class="notice"><%= flash[:notice] %></p>
				<% elsif flash[:error] -%>
					<p class="error"><%= flash[:error] %></p>
				<% end -%>
				<%= @content_for_layout %>
			</div>
			<div id="ft">
				<div class="about">
	                <a href="#">About Us</a> | 
	                <a href="#">Contact Us</a> | 
	                <a href="#">Terms of Service</a> | 
	                <a href="#">Privacy Policy</a> | 
	                <a href="#">Advertise</a> | 
	                <a href="#">Help</a>
	            </div>
	            <p class="copy">&copy; 2008 <a href="/">dellerbie</a></p>
			</div>
	</body>
</html>
